h1 {
	line-height: 1.3;
}
a img {
	border: none;
}
.group {
	margin: auto 2em;
}
.group .items {
	font-size: 85%;
	background-color: #fec6c5;
	border: solid thin #80273f;
	margin: auto 2em;
	padding: 1em;
}

.group div.item_image {
	float: left;
}
ul.item_description {
	display: inline;
}
ul.item_description li {
	display: block;
	margin-left: 1em;
}

form.for_copy_paste textarea {
	font-size: 8pt;
	width: 100%;
}